<section class="l-constrained file-manager-main" role="main">
	<!-- File manager module content -->
	<div class="file-manager-content">
		<ul>
			<li class="title">Folders</li>
			<li>
				<a class="item-icon md md-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info md md-info-outline" href="#"></a>
			</li>
		</ul>
		<ul class="last">
			<li class="title">Files</li>
			<li>
				<a class="item-icon md md-star amber" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Stars</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info md md-info-outline" href="#"></a>
			</li>
			<li>
				<a class="item-icon md md-whatshot cyan" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">What's hot?</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info md md-info-outline" href="#"></a>
			</li>
			<li>
				<a class="item-icon md md-favorite red" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Favorites</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info md md-info-outline" href="#"></a>
			</li>
		</ul>
	</div><!-- File manager module content end-->
</section><!-- .l-constrained -->