<section class="l-constrained" role="main">
	<!-- File manager module content -->
	<div class="file-manager-content">
		<ul>
			<li class="title">Folders</li>
			<li>
				<a class="item-icon fa fa-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
			<li>
				<a class="item-icon fa fa-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
			<li>
				<a class="item-icon fa fa-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
			<li>
				<a class="item-icon fa fa-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
			<li>
				<a class="item-icon fa fa-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
			<li>
				<a class="item-icon fa fa-folder" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
		</ul>
		<ul class="last">
			<li class="title">Files</li>
			<li>
				<a class="item-icon fa fa-flask amber" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
			<li>
				<a class="item-icon fa fa-paper-plane cyan" href="#"></a>
				<a class="item-desc" href="#">
					<span class="main">Photos</span>
					<span class="date">Januar 9 2014</span>
				</a>
				<a class="info fa fa-info" href="#"></a>
			</li>
		</ul>
	</div>
	<!-- File manager module content end-->
</section><!-- .l-constrained -->